body {
  margin: 0;
  width: 100vw;
}

canvas {
  display: block;
}

.controllers {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 50vw;
  top: 0;
  border-radius: 0 0 30px 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.viewButtons {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0
}

.viewButtons a {
  margin: 20px;
}