body {
  margin: 0;
  width: 100vw;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.controllers {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 50vw;
  bottom: 0;
  border-radius: 0 0 30px 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.viewButtons {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
}

.viewButtons a {
  margin: 20px;
}

.chargeError {
  position: absolute;
  top: 0;
  display: none;
  margin: 0 35%;
}

input[type="range"] {
  border: none;
}

.modeChange {
  position: absolute;
  z-index: 2000;
  color: white;
  top: 5%;
  left: 0;
  padding: 20px;
  max-width: 200px;
}

.modeChange input {
  color: white !important;
}

.modeChange svg {
  fill: rgba(255, 255, 255, 0.87) !important;
}